{% extends 'base.html' %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'accounts/login.css' %}?after">
{% endblock style %}

{% block back_button %}
  <a href="{% url 'plans:index' %}"><i class="fa-solid fa-angle-left ms-3" style="color: white; height: 30px;"></i></a>
{% endblock back_button %}

{% block content %}

<div class='d-flex flex-column justify-content-evenly align-items-center'>
  <h1>로그인</h1>
  <hr>
  <form action="" method="POST">
    {% csrf_token %}
    <div>
      <label class='mb-1' for="username">아이디</label>
    </div>
    <p>
      {{ form.username }}
    </p>
    <div>
      <label class='mb-1' for="password">비밀번호</label>
    </div>
    <p class='mb-4'>
      {{ form.password }}
    </p>
    <div class='d-flex flex-column align-items-center'>
    {% if form.errors %}
      <p style='color: rgb(209, 51, 0);'><img style='width:30px; height:30px;' src="{% static 'accounts/my_image.png' %}" alt="사진사진">계정을 다시 확인해 주세요</p>
    {% endif %}
    </div>
    <input class='t-3 input_button' type="submit" value='입장'>
  </form>
</div>

{% endblock content %}
