{% extends 'base.html' %}

{% block content %}
  <h3>Hi, {{ person.first_name }}!</h3>
  <div>
    <h5>내가 작성한 약속</h5>
    {% for plan in person.plan_set.all %}
      <a class="text-decoration-none text-black" href="{% url 'plans:plan_detail' plan.pk %}">{{ plan.title }}</a>
      <br>
    {% endfor %}
  </div>

  <div>
    <h5>앞으로 예정된 약속</h5>
    {% for plan in coming_plans %}
      <a class="text-decoration-none text-black" href="{% url 'plans:plan_detail' plan.pk %}">{{ plan.title }}</a>
    {% endfor %}
  </div>

  <div>
    <h5>내가 참석한 약속</h5>
    {% for plan in passed_plans %}
      <a class="text-decoration-none text-black" href="{% url 'plans:plan_detail' plan.pk %}">{{ plan.title }}</a>
    {% endfor %}
  </div>

{% endblock content %}



