{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'accounts/my_page.css' %}?after">
{% endblock style %}

{% block back_button %}
  <a href="{% url 'plans:index' %}"><i class="fa-solid fa-angle-left ms-3" style="color: white; height: 30px;"></i></a>
{% endblock back_button %}

{% block content %}
  <h3>Hi, {{ person.first_name }}!</h3>
  {% if today_plans %}
    <h5>오늘 예정된 약속</h5>
      {% for plan in today_plans %}
        <a class="plan_box d-flex justify-content-start align-items-center text-decoration-none text-black" href="{% url 'plans:plan_detail' plan.pk %}">  
          <p>{{ plan.title }}</p>
          <p>{{ plan.time }}</p>
        </a>
      {% endfor %}
      <h5>약속까지 남은 시간</h5>
      <input type="hidden" id="first-time" value="{{ first_plan.time }}">
      <div class="time-count"></div>
  {% else %}
    <p>오늘 예정된 약속이 없습니다!</p>
  {% endif %}
  <div class="details_box m-5">
    <details>
      <summary>
        <span>내가 작성한 약속</span><span class="num_badge">{{ person.plan_set.all|length }}개</span>   
      </summary>
      <div class="container">
        {% if not person.plan_set.all %}
          <p class="plan_title">작성한 약속이 없습니다</p>
        {% endif %}
        {% for plan in person.plan_set.all %}
          <a class="plan_box d-flex justify-content-start align-items-center text-decoration-none text-black" href="{% url 'plans:plan_detail' plan.pk %}">
            <p class="plan_title">{{ plan.title }}</p>
            <p class="plan_date">({{ plan.date }})</p>
          </a>   
        {% endfor %}
      </div>
    </details>  

    <details>
      <summary>
        <span>앞으로 예정된 약속</span><span class="num_badge">{{ coming_plans|length }}개</span>   
      </summary>
      <div class="container">
      {% if not coming_plans %}
        <p class="plan_title">예정된 약속이 없습니다</p>
      {% endif %}
      {% for plan in coming_plans %}
        <a class="d-flex justify-content-start text-decoration-none text-black" href="{% url 'plans:plan_detail' plan.pk %}">
          <p class="plan_title">{{ plan.title }}</p>
          <p class="plan_date">({{ plan.date }})</p>
        </a>   
      {% endfor %}
      </div>
    </details>

    <details>
        <summary>
          <span>내가 참석한 약속</span><span class="num_badge">{{ passed_plans|length }}개</span>   
        </summary>
      <div class="container">
        {% if not passed_plans %}
          <p class="plan_title">참석한 약속이 없습니다</p>
        {% endif %}
        {% for plan in passed_plans %}
          <a class="d-flex justify-content-start text-decoration-none text-black" href="{% url 'plans:plan_detail' plan.pk %}">
            <p class="plan_title">{{ plan.title }}</p>
            <p class="plan_date">({{ plan.date }})</p>
          </a>   
        {% endfor %}
        </div>
    </details>  
  </div>

{% endblock content %}

{% block script %}
  <script>
    const timeDiv = document.querySelector('.time-count')
    const firstPlanTime = transTime(document.querySelector('#first-time').value)
    function transTime (timestr) {
      const splitTime = timestr.split(' ')
      let result = (splitTime[0] === '오전') ? 0 : 720
      const clockTime = splitTime[1].split(':').map(Number)
      return result + clockTime[0] * 60 + clockTime[1]
    }
    
    function transStr (time) {
    return `${parseInt(time / 60)}시간 ${time % 60}분`
    }

    const timeCount = function () {
      const now = new Date()
      const nowHour = now.getHours()
      const nowMin = now.getMinutes()
      const nowTime = nowHour * 60 + nowMin

      const leftTime = firstPlanTime - nowTime
      timeDiv.innerText = transStr(leftTime)
    }

    setInterval(timeCount, 1000)

  </script>
{% endblock script %}






