h1 {
  color: #2159B0;
}


label {
  color: black;
}


input {
  border: 0;
  border-bottom: 2px solid #2159B0;
}

input:focus {
  outline: none;
  border: 0;
  border-bottom: 2px solid #DA6D49;
}

input::placeholder {
  color: gray;
  opacity: 0.8;
}

textarea {
  border: 2px solid #2159B0;
  background-color: rgb(242, 242, 242);
}

textarea::placeholder {
  color: gray;
  opacity: 0.8;
}

.submit_button {
  background-color: rgb(242, 242, 242);
  width: 100%;
  color: #2159B0;
  border: solid;
  border-radius: 3px;
  font-weight: bold;
}

.submit_button:active {
  color: #DA6D49;
}