@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,500&display=swap');

h1 {
  color: #376BAE;
  font-family: 'Jua', sans-serif;
}

input {
  border: 0;
  border-bottom: 1px solid #376BAE;
}

textarea {
  border: 1;
  border-bottom: 1px solid #376BAE;
}