h3 {
  text-shadow: 2px 2px #2159B0;
  margin-left: 50px;
}


details[open] {
  background-color: white;
  border: 2px solid #2159B0;
  padding: 10px;
  margin-bottom: 20px;
}

summary {
  font-size: 25px;
  font-weight: bold;
  margin: 5px;
  margin-top: 10px;
}

details[open] summary {
  text-shadow: 1px 1px #2159B0;
  margin-bottom: 30px;
}

.num_badge {
  background-color: #2159B0;
  border-radius: 20%;
  font-size: 15px;
  margin-top: 7px;
  padding: 5px;
  color: white;
  margin-left: 10px;
  box-shadow: 2px 2px silver;
}

.plan_title {
  font-size: 20px;
  margin-left: 15px;
}

.plan_date {
  margin-top: 8px;
  color: rgb(82, 82, 82);
}

.left-time {
  font-size: 25px;
  margin-left: 15px;
  text-shadow: 1px 1px #b3b3b3;
  margin-bottom: 20px;
}