h1 {
  color: #2159B0;
  font-family: 'Jua', sans-serif;
}


label {
  color: black;
}

input {
  border: 0;
  border-bottom: 2px solid #2159B0;
  background-color: white;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #DA6D49;
  background-color: white;
}

input::placeholder {
  color: gray;
  opacity: 0.8;
}

.input_button {
  width: 100%;
  color: #2159B0;
  border: solid;
  border-radius: 3px;
  font-weight: bold;
}

.input_button:active {
  color: #DA6D49;

}