@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

input {
  background: transparent;
}

* {
  font-family: 'Press Start 2P', 'DungGeunMo';
}

body {
  min-height: 110vh;
  background-color: #F0E9DE;
  overflow: auto;
}

.base_main {
  position: relative;
  min-height: 90vh;
  width: 980PX;
  border: none;
  top: 50px;
  border-radius: 40px;
  /* background-color: #eb79bbdb;
  box-shadow:
    1px 1px #e85aaddb,
    2px 2px #e85aaddb,
    3px 3px #e85aaddb,
    4px 4px #e85aaddb,
    5px 5px #e85aaddb,
    6px 6px #e85aaddb,
    7px 7px #e85aaddb,
    8px 8px #e85aaddb,
    9px 9px #e85aaddb,
    10px 10px #e85aaddb; */
  background-color: rgb(242, 242, 242);
  box-shadow:
    1px 1px rgb(232, 232, 232),
    2px 2px rgb(232, 232, 232),
    3px 3px rgb(232, 232, 232),
    4px 4px rgb(232, 232, 232),
    5px 5px rgb(232, 232, 232),
    6px 6px rgb(232, 232, 232),
    7px 7px rgb(232, 232, 232),
    8px 8px rgb(232, 232, 232),
    9px 9px rgb(232, 232, 232),
    10px 10px rgb(232, 232, 232);
}

h1 {
  font-family: 'Press Start 2P', 'DungGeunMo';
}

/* 페이지의 맨 위쪽 구획 전체를 의미 */
nav {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}


.pure_navbar {
  position: relative;
  top: -50px;
  right: 6px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-top: 30px;
  height: 60px;
  min-width: 1000PX;
  background-color: #2159B0;
  box-shadow:
    1px 1px #133f86,
    2px 2px #133f86,
    3px 3px #133f86,
    4px 4px #133f86,
    5px 5px #133f86,
    6px 6px #133f86,
    7px 7px #133f86;
}

/* .base_background {
  top: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 1000px;
  min-height: 90vh;
  background-color: rgb(107, 61, 35);
  text-shadow: 3px 3px rgb(107, 61, 35);

} */

.nav_bar_column {
  width: 33%;
  align-items: center;
  display: flex;
}


/* nav_bar를 3분할시켜서 왼쪽, 중앙, 오른쪽에 배치 */
.nav_bar_column:nth-child(1) {
  width: 33%;
  display: flex;
  justify-content: flex-start;
}

.nav_bar_form {
  background-color: #2159B0;
  border: 0px;
}

.nav_bar_column:nth-child(2) {
  width: 33%;
  display: flex;
  justify-content: center;
}

/* navbar 중간에 들어갈 제목? 우리 서비스 메인 로고? */
.nav_bar_main_logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'Press Start 2P', cursive;
  margin-top: 7px;
}

.nav_bar_main_logo_anchor {
  text-decoration: none;
  color: #DA6D49;
  text-shadow: 3px 3px rgb(107, 61, 35);
}


.nav_bar_main_logo_anchor:hover {
  color: rgb(247, 34, 84);
}


.nav_bar_main_logo_anchor:active {
  text-decoration: none;
  color: yellow;
}


.nav_bar_column:nth-child(3) {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

/* nav bar의 로그인, 회원가입 버튼들  */

.nav_button {
  min-width: 33%;
  display: flex;
  justify-content: center;
}


.nav_button_anc {
  margin-top: 5px;
  font-size: small;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px rgb(136, 136, 136);
}

.nav_button_anc:hover {
  color: yellow;
}

.nav_button_anc:active {
  color: #DA6D49;
}

.user_name_text {
  color: #DA6D49;
  text-shadow: 2px 2px rgb(107, 61, 35);
}

.nav_button_anc_hi {
  color: #DA6D49;
  text-decoration: none;
}

.nav_button_anc_hi:hover {
  color: rgb(247, 34, 84);
}

#content {
  width: 950PX;
}