{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'plans/index.css' %}?after">
{% endblock style %}

{% block content %}
<div class='d-flex flex-column align-items-center'>
  <h3 class='mb-5'>{{ plandate }}</h3>
  {% for plan in plans %}
    <a href="{% url 'plans:plan_detail' plan.pk %}" class="text-decoration-none text-center text-black d-flex justify-content-center">
      <div class="alert col-8 round" role="alert" id="date_box">
        <h2 class="date_font_title">{{ plan.title }}</h2>
        <h6 class="">{{ plan.place }}</h6>
      </div>
    </a>   
  {% endfor %}
  <a href="{% url 'plans:index' %}"> 뒤로가기 </a>
</div>
{% endblock content %}