{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'plans/plan_create.css' %}?after ">
{% endblock style %}

{% block back_button %}
  <a href="{% url 'plans:index' %}"><i class="fa-solid fa-angle-left ms-3" style="color: white; height: 30px;"></i></a>
{% endblock back_button %}

{% block content %}
  <div class='d-flex flex-column justify-content-evenly align-items-center'>
    <h1 class='mb-4'>약속을 잡아봅시다!</h1>
    <form class='d-flex flex-column justify-content-evenly' action="{% url 'plans:plan_create' %}" method="POST">
      {% csrf_token %}
      <label for="id_title">모임의 이름을 적어주세요</label>
      <p>{{ form.title }}</p>
      <label for="id_date">만나는 날짜가 언제인가요?</label>
      <p>{{ form.date }}</p>
      <label for="id_time">몇 시에 만나나요?</label>
      <p>{{ form.time }}</p>
      <label for="id_people_limit">몇 명까지 만날 수 있나요?</label>
      <p>{{ form.people_limit }}</p>
      <label for="id_place">어디서 만나나요?</label>
      <p>{{ form.place }}</p>
      <label for="id_title">어떤 만남인가요?</label>
      <p>{{ form.description }}</p>

      <button class="submit_button" type="submit" >제출</button>
    </form>
  </div>
{% endblock content %}