{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'plans/plan_detail.css' %}">
{% endblock style %}

{% block content %}
  <p> 제목: {{ plan.title }} </p>
  <p> 글쓴이: {{ plan.user.last_name }}{{ plan.user.first_name }}</p>
  <p> 일시: {{ plan.date }} {{ plan.time }}</p>
  <p> 장소: {{ plan.place }} </p>
  <p> 내용: {{ plan.description }} </p>
  {% if request.user == plan.user %}
    <a href="{% url 'plans:plan_update' plan.pk %}">수정</a>
  {% endif %}

  <form action="{% url 'plans:join_users' plan.pk %}" method='POST'>
    {% csrf_token %}
    {% if request.user in plan.join_users.all %}
      <div class="btn-group">
        {% if request.user.is_authenticated %}
          <button type='submit' class='btn btn-danger'>취소</button>
        {% endif %}
        <button type="button" class="btn btn-success mx-1" data-bs-toggle="collapse" href="#collapsefriends" role="button" aria-expanded="false" aria-controls="collapseExample">{{ plan.join_users.all|length }}명</button>
        <a class="btn" data-bs-toggle="collapse" href="#collapsecomments" role="button" aria-expanded="false" aria-controls="collapseExample" id="submit-btn">
          <h6 id="btn-content"><i class="fa-solid fa-comments"></i> 댓글({{ plan.comment_set.all|length }})</h6>
        </a>
      </div>
    {% else %}
      <div class="btn-group">
        {% if request.user.is_authenticated %}
          <button type="submit" class='btn btn-success'>참석</button>
        {% endif %}
        <button type="button" class="btn btn-success mx-1" data-bs-toggle="collapse" href="#collapsefriends" role="button" aria-expanded="false" aria-controls="collapseExample">{{ plan.join_users.all|length }}명</button>
        <a class="btn" data-bs-toggle="collapse" href="#collapsecomments" role="button" aria-expanded="false" aria-controls="collapseExample" id="submit-btn">
          <h6 id="btn-content"><i class="fa-solid fa-comments"></i> 댓글({{ plan.comment_set.all|length }})</h6>
        </a>
      </div>  
    {% endif %}
  </form>

  <div class="collapse mt-3" id="collapsefriends">
    <div class='d-flex justify-content align-items-center mx-2'>
      <div class="d-flex wrap">
        {% for user in plan.join_users.all %}
          {{ user.last_name }}{{ user.first_name }}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="collapse mt-3" id="collapsecomments">
    {% for comment in comments %}
    <div class='d-flex justify-content align-items-center mx-2'>
        <p class='fw-bold m-0'>{{ comment.user.first_name }} </p> <p class='m-0'>: {{ comment.content }}</p>
        {% if request.user == comment.user %}
          <form action="{% url 'plans:comment_delete' plan.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class='btn py-0'><i class="fa-solid fa-xmark"></i></button>
          </form>
        {% endif %}
    </div>
    {% endfor %}
  </div>
  {% if request.user.is_authenticated %}
    <form action="{% url 'plans:comment_create' plan.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form.content }}
      <div class='d-flex justify-content-end'>
        <button class='btn fw-bold' id='submit-btn' type="submit">작성</button>
      </div>
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
<a href="{% url 'plans:plan_date' plan.date.month plan.date.day %}"> 뒤로가기 </a>
{% endblock content %}