{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'plans/plan_detail.css' %}">
{% endblock style %}

{% block content %}
  <div class="d-flex justify-content-between">
    <h2>{{ plan.title }}</h2>
    {% if request.user == plan.user %}
      <div class="btn-group" style="height: 40px;">
        <a href="{% url 'plans:plan_update' plan.pk %}" class="btn" id="submit-btn">수정</a>
        <button type="button" class="btn btn-danger mx-1" data-bs-toggle="modal" data-bs-target="#plandeletealert">삭제</button>
        <div class="modal fade" id="plandeletealert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">주의!</h5>
              </div>
              <div class="modal-body">
                {% if plan.join_users.all|length %}
                  <p class="fw-bold" style="color: red;">현재 참석자가 있습니다!</p>
                {% endif %}
                <p>정말 삭제하시겠습니까?</p>
              </div>
              <div class="modal-footer">
                <form action="{% url 'plans:plan_delete' plan.pk %}" method="POST">
                  {% csrf_token %}
                  <div class="btn-group" style="height: 40px;">
                    <button type="submit" class="btn btn-danger">삭제</button>
                    <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="modal">취소</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  <p>{{ plan.user.last_name }}{{ plan.user.first_name }}</p>
  <p>{{ plan.date }} {{ plan.date|date:'D'}} {{ plan.time }}에 {{ plan.place }}에서 만날 사람?</p>
  <p>{{ plan.description }}</p>
  <hr>


  <form action="{% url 'plans:join_users' plan.pk %}" method='POST'>
    {% csrf_token %}
    {% if request.user in plan.join_users.all %}
      <div class="btn-group">
        {% if request.user.is_authenticated %}
          <button type='submit' class='btn btn-danger'>취소</button>
        {% endif %}
        <button type="button" class="btn btn-success mx-1" data-bs-toggle="collapse" href="#collapsefriends" role="button" aria-expanded="false" aria-controls="collapseExample">{{ plan.join_users.all|length }}명</button>
        <a class="btn" data-bs-toggle="collapse" href="#collapsecomments" role="button" aria-expanded="false" aria-controls="collapseExample" id="submit-btn">
          <h6 id="btn-content"><i class="fa-solid fa-comments"></i> 댓글({{ plan.comment_set.all|length }})</h6>
        </a>
      </div>
    {% else %}
      <div class="btn-group">
        {% if request.user.is_authenticated %}
          <button type="submit" class='btn btn-success'>참석</button>
        {% endif %}
        <button type="button" class="btn btn-success mx-1" data-bs-toggle="collapse" href="#collapsefriends" role="button" aria-expanded="false" aria-controls="collapseExample">{{ plan.join_users.all|length }}명</button>
        <a class="btn" data-bs-toggle="collapse" href="#collapsecomments" role="button" aria-expanded="false" aria-controls="collapseExample" id="submit-btn">
          <h6 id="btn-content"><i class="fa-solid fa-comments"></i> 댓글({{ plan.comment_set.all|length }})</h6>
        </a>
      </div>  
    {% endif %}
  </form>

  <div class="collapse mt-3" id="collapsefriends">
    <div class='d-flex justify-content align-items-center mx-2'>
      <div class="d-flex wrap">
        {% for user in plan.join_users.all %}
          {{ user.last_name }}{{ user.first_name }}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="collapse mt-3" id="collapsecomments">
    {% for comment in comments %}
    <div class='d-flex justify-content align-items-center mx-2'>
        <p class='fw-bold m-0'>{{ comment.user.first_name }} </p> <p class='m-0'>: {{ comment.content }}</p>
        {% if request.user == comment.user %}
          <form action="{% url 'plans:comment_delete' plan.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class='btn py-0'><i class="fa-solid fa-xmark"></i></button>
          </form>
        {% endif %}
    </div>
    {% endfor %}
  </div>
  {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
    <form action="{% url 'plans:comment_create' plan.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form.content }}
      <div class='d-flex justify-content-end'>
        <button class='btn fw-bold' id='submit-btn' type="submit">작성</button>
      </div>
    </form>
  {% comment %} {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %} {% endcomment %}
<a href="{% url 'plans:plan_date' plan.date.month plan.date.day %}"> 뒤로가기 </a>
{% endblock content %}