{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'plans/index.css' %}?after">
{% endblock style %}

{% block back_button %}
  <a href="{% url 'plans:index' %}"><i class="fa-solid fa-angle-left ms-3" style="color: white; height: 30px;"></i></a>
{% endblock back_button %}

{% block content %}
<div class='d-flex flex-column align-items-center'>
  <h3 class='mb-5'>{{ plandate }}</h3>
  <table class='table table-hover'>
    <thead class='text-center text-white'>
      <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>시간</th>
        <th>장소</th>
        <th>참여인원</th>
      </tr>
    </thead>
    <tbody class='text-center'>
      {% for plan in plans %}
        <tr>
          <td>
            <a href="{% url 'plans:plan_detail' plan.pk %}">{{ plan.title }}</a>
          </td>
          <td>{{ plan.user.last_name }}{{ plan.user.first_name }}</td>
          <td>{{ plan.time }}</td>
          <td>{{ plan.place }}</td>
          <td>
            {% if plan.people_limit == 0 %}
              {{ plan.join_users.all|length }}명
            {% else %}
              {{ plan.join_users.all|length }}명 / {{ plan.people_limit }}명
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}